:root {
  --background-color: #e7e7e7;
  --text-color: #000000;
  --table-header-bg: #e7e7e7;
  --table-header-text: #000000;
  --table-border: #939393;
  --table-row-hover-bg: #949494;
  --primary-color: #4caf50;
  --hover-bg: #696969;

  --icon-background: #ffffff;
  --icon-color: #bdbdbd;
  --icon-hover-color: #757575;

  --badge-active-bg: #e8f5e9;
  --badge-active-text: #388e3c;
  --badge-inactive-bg: #ffebee;
  --badge-inactive-text: #d32f2f;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --table-header-bg: #1f1f1f;
  --table-header-text: #ffffff;
  --table-border: #3e3e3e;
  --table-row-hover-bg: #333333;
  --primary-color: #4caf50;
  --hover-bg: #444444;

  --icon-background: #333333;
  --icon-color: #bdbdbd;
  --icon-hover-color: #ffffff;

  --badge-active-bg: #2e7d32;
  --badge-active-text: #a5d6a7;
  --badge-inactive-bg: #c62828;
  --badge-inactive-text: #ffcdd2;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}